POSTGRES_DB=healthapp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

AUTH_JWT_ISSUER=HealthApp.Backend
AUTH_JWT_AUDIENCE=HealthApp.Mobile
AUTH_JWT_SIGNING_KEY=some-secret-jwt-key-health-app

AUTH_GOOGLE_ALLOWED_CLIENT_ID_0=google-id-for-auth
AUTH_YANDEX_CLIENT_ID=yandex-od-for-auth
AUTH_YANDEX_CLIENT_SECRET=yandex-secret-key-for-auth

EMAIL_MODE=PickupDirectory
EMAIL_FROM_ADDRESS=name@example.com
EMAIL_FROM_NAME=HealthTrack
EMAIL_SMTP_HOST=some-host
EMAIL_SMTP_PORT=587
EMAIL_SMTP_ENABLE_SSL=true
EMAIL_SMTP_USERNAME=username
EMAIL_SMTP_PASSWORD=password

DOCTOR_NOTE_SCANNER_ENABLED=true
DOCTOR_NOTE_SCANNER_OPENAI_API_KEY=api-key-from-openai
DOCTOR_NOTE_SCANNER_OPENAI_MODEL=gpt-4.1

WEB_API_BASE_URL=/api
WEB_PORT=80
